page {min-height: 100%;background: #f2f2f2;}
.container {height: 100%;display: flex;flex-direction: column;align-items: center;justify-content: space-between;box-sizing: border-box;}
.font20 {font-size: 20rpx;}
.font22 {font-size: 22rpx;}
.font24 {font-size: 24rpx;}
.font26 {font-size: 26rpx;}
.font28 {font-size: 28rpx;}
.font30 {font-size: 30rpx;}
.font32 {font-size: 32rpx;}
.font34 {font-size: 34rpx;}
.font36 {font-size: 36rpx;}
.text-red {color: #f00;}
.text-gray666 {color: #666;}
.text-gray999 {color: #999;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-ellipsis {
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.text-del {text-decoration: line-through;}
.bg-red {background: linear-gradient(to right, #dd2476, #ff512f);}
.bg-gray {background: #f2f2f2;}
.img-info {width: 100%;height: 100%;object-fit: cover;}
/* 公共模块样式 */
.index-classify {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 0 30rpx 30rpx;
}
.index-classify .item {
    width: 20%;
    text-align: center;
    font-size: 26rpx;
}
.index-classify .item-img {
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
    padding-top: 30rpx;
}
.index-classify .title {
    margin-top: 5rpx;
}
.index-title {
    display: flex;
    justify-content: space-between;
    color: #999;
    font-size: 24rpx;
    padding: 30rpx;
}
.index-title .title {
    display: flex;
    align-items: flex-end;
}
.index-title .txt {
    font-size: 32rpx;
    margin-right: 20rpx;
}
.coupon-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f00;
    font-size: 22rpx;
    margin: 12rpx 0 6rpx;
}
.coupon-two .price {
    font-size: 24rpx;
}
.coupon-two .full {
    font-size: 28rpx;
}
.coupon-two .rt {
    height: 40rpx;
    line-height: 40rpx;
    color: #fff;
    background: linear-gradient(to right, #dd2476, #ff512f);
    border-radius: 8rpx;
}
.coupon-two .txt {
    padding: 0 14rpx 0 22rpx;
    position: relative;
}
.coupon-two .txt:before {
    content: '';
    border: 8rpx solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -5rpx;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.coupon-two .num {
    padding: 0 14rpx;
    border-left: 2rpx dotted #fff;
}